@using KaydenMiller.Models

<div class="blade">
    <div class="content">
        <h3>Personal Projects</h3>
        @foreach (var project in _projects)
        {
            <ProjectCard ImageUri="@(project.ImageUri)"
                             ImageAlt="@(project.ImageAlt)"
                             ProjectTitle="@(project.Title)"
                             ProjectDescription="@(project.Description)"
                             ButtonText="@(project.ButtonText)"></ProjectCard>
        }
    </div>
</div>

@code {
    [Parameter]
    public string SelectedSlide { get; set; } = "Project1";

    private List<ProjectDisplayModel> _projects = new()
    {
        new()
        {
            ProjectCarouselId = "Project1",
            Title = "RGB LED Cube Controller",
            Description = "This simple circuit board was revision 2 of a design I am working on for a RGB LED Cube.",
            ButtonText = "Learn More",
            ImageUri = "images/RGB_Cube_V2.png",
            ImageAlt = "RGB LED Cube Controller Circuit"
        },
        new()
        {
            ProjectCarouselId = "Project2",
            Title = "RGB LED Cube Controller Project 2",
            Description = "This simple circuit board was revision 2 of a design I am working on for a RGB LED Cube.",
            ButtonText = "Learn More",
            ImageUri = "images/RGB_Cube_V2.png",
            ImageAlt = "RGB LED Cube Controller Circuit"
        },
        new()
        {
            ProjectCarouselId = "Project3",
            Title = "RGB LED Cube Controller Project 3",
            Description = "This simple circuit board was revision 2 of a design I am working on for a RGB LED Cube.",
            ButtonText = "Experience It",
            ImageUri = "images/RGB_Cube_V2.png",
            ImageAlt = "RGB LED Cube Controller Circuit"
        }
    };

}