@page "/Skills"
@using KaydenMiller.Models
@using DataAccessLayer
@inject ISkillData _skillData

@if (_skills is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <SfGrid DataSource="@_skills" AllowSelection="false" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridPageSettings PageSize="5"></GridPageSettings> 
        <GridColumns>
            <GridColumn Field="@nameof(SkillDisplayModel.Name)" HeaderText="Name"></GridColumn>
            <GridColumn Field="@nameof(SkillDisplayModel.PersonalRating)" HeaderText="Personal Confidence">
                <Template>
                    @{
                        var skill = context as SkillDisplayModel;

                        <SfTooltip Target="#star-rating" Content="@(skill?.PersonalRating + " stars")">
                            <StarRating Id="star-rating" StarValue="@(skill?.PersonalRating ?? 1)"/>
                        </SfTooltip>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {
    private List<SkillDisplayModel> _skills;

    protected override async Task OnInitializedAsync()
    {
        _skills = (await _skillData.GetSkills()).Select(s =>
        {
            return new SkillDisplayModel()
            {
                Name = s.Name,
                Tooltip = s.Tooltip,
                PersonalRating = s.PersonalStarRating
            };
        }).ToList();
    }

}